.list {
  list-style: none;
  padding: 0;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}
.items {
  margin-top: 2rem;
  cursor: pointer;
}
.item_line {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.item_name {
  font-weight: 400;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: sticky;
  padding: 1rem;
}
