.radio {
  margin-right: 10px;
  border-radius: 0;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.item {
  margin: 10px 0 0 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}
